* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
   background-color: rgb(201, 197, 197);
}

.header__home{
    background-color: #008d61;
    font-size: 5.2rem;
    color: #fff;
    text-align: left;
}

.home {
    font-size: 24px;
    text-decoration: none;
}

.navegacao{
    text-decoration: none;
    color: red;
}

.cidade{
    font-size: 24px;
    padding: 16px;
}
.filmes-cartaz{
    text-align: center;
}
.filmeHoje{
    color: darkred;
}

.filmeAmanha{
    color: darkblue;
}

.rodape{
    background-color: #24292e;
    margin-top: 820px;
    height: 125px;
    color: white;
    text-align: center;
    font-size: 32px;
}