* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
   background-color: rgb(201, 197, 197);
}

.header__home{
    background-color: #008d61;
    font-size: 5.2rem;
    color: #fff;
    text-align: left;
}

.home {
    font-size: 24px;
    text-decoration: none;
    font-family: Arial;
    color: seagreen;
}

.navegacao{
    text-decoration: none;
    color: seagreen;
    text-align: center;
    font-family: arial;
}

.cidade{
    font-size: 24px;
    padding: 16px;
    margin: 18px;
    font-family: arial;
}
.filmes-cartaz{
    text-align: center;
    font-family: arial;
}
.filmeHoje{
    color: darkred;
    font-size: 20px;
    font-family: arial;
}

.filmeAmanha{
    color: darkblue;
    font-size: 20px;
    font-family: arial;
}

.rodape{
    background-color: #24292e;
    margin-top: 820px;
    height: 125px;
    color: white;
    font-size: 32px;
    font-family: arial;
    justify-content: center;
}

.fale{
    text-align: center;
  align-items: center;
    padding: 32px;
}